.custom-alert {  
    width:250px;  
}  
// .modal-body {
//     width: 400px;
// }  
.modal-backdrop.in {  
    opacity: 0.9;  
}  
  
.modal-body {  
    background-color: whitesmoke;  
    border-radius: 11px;  
   
}  
  
.modal {  
    background-color: rgba(58, 51, 51, 0.4);  
    padding-top:5px;  
    z-index: 999;
}  
  
.confirm-message {  
    
    font-size:17px;  
    font-weight:bold;  
    margin-bottom:0px;  
    margin-top:5px;  
    padding: 10px;
}  
  
.confirm-button {  
    text-align: center;  
    margin: 15px 0px 15px 0px;  
}  
  
.btn-no {  
    background-color: #f4516c;  
    color:white;  
}  
  
.btn-yes {  
    background-color: #36bb48;  
    color:white;  
}   