.dropdown-menu .user-menu {    
    width: 240px;
    padding: 0;
    .user-img{
        width: 100px;
    }   
    .dropdown-item{
        color: #666 !important;
    }
    
}

.app.light .wrapper {
  background-color: #fff !important;
}

.modal-backdrop {
  z-index: 0 !important;
}