.login-container {
    // background-image: url('/assets/img/bus3.jpg');
    // background-repeat: no-repeat; 
    // background-size: cover;
    position: absolute;
    // border: gray 1px solid;
    margin-top: 5%;
    margin-left: 30%;
    .card {
        .card-header {
            width: 180px;
            height: 80px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 4%;
            font-size: 36px;
            background-color: rgb(255, 255, 255);
        }
    }
}

.login-title {
    margin-top: -40px;
    //font-family: verdana;
    font-size: 3.5rem;
    background-color: rgb(255, 255, 255);
    text-align: center !important;
    padding: 5px;
}

.div-bg {
    background: linear-gradient(to top left, rgba(13, 40, 158, 0.89), rgb(114, 191, 243), rgb(13, 40, 158, 0.89));
    //background-image: url("cloud0.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 4%;
    height: 100%;
}

.h-100 {
    height: 100% !important;
}




.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to { opacity: 1 }
}



ng-otp-input {
    .ng-otp-input-wrapper {
        background-color: transparent !important;
    }
}

input{
    color: white ;
}
.form-control{
    color: black ;
}

.input-group-text{
    height: 32px;;
}
