.main{
    background-image: url("/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    //  background-color: #cccccc;
}
.head{
    font-size: 32px; 
    font-weight: bold;
}
.head1{ 
    font-size: 32px;
    font-weight: bold;
    margin-top: 3%;
}

 
.head2{
    font-size: 18px;
    font-weight: bold; 
    margin-top: 2%;
    margin-bottom: 5% !important;
    letter-spacing: 1px;
} 

h1{
    font-weight: bold;
}