.spinner-border {
    display: inline-block;
    width: 1rem !important;
    height: 1rem !important;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-border;
}
