.btnstl {
    border    : none;
    background: none;
}
// li{
//     width: 2.5rem;
// }
ul{
    margin: auto;
}


.color {
    color: rgb(224, 17, 243);
    }
.modal-dialog {

        width: 360px;

      }   